$tan: #d3c8b6;
$mediumTan: #ccc1b0;
$darkTan: #b4ab9c;
$teal: #607e7c;
$darkTeal: #445555;
$red: #f95251;
$black: #403d37;
$eggshell: #d2cfc7;

body{
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;

}
.background{
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  width: 100%;
  height: 100vh;

  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
}
.camera{
  width: 200px;
  height: 225px;
  position: relative;
}
.bottom{
  position: absolute;
  height: 225px;
  width: 200px;
  background: $darkTan;
  border-radius: 20px;
  &::after{
    content:"";
    width: 80%;
    position: absolute;
    height: 15px;
    background-color: $black;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%);
  }
}
.top{
  position: absolute;
  height: 170px;
  width: 200px;
  background: $tan;
  background-image:
    radial-gradient(
      circle at 50% 34%,
      $tan,
      $tan 3px,
      transparent 5px),
     radial-gradient(
      circle at 55% 38%,
      $tan,
      $tan 1px,
      transparent 3px),
    radial-gradient(
      circle at 50% 40%,
      $teal,
      $teal 20px,
      $darkTeal 20px,
      $darkTeal 25px,
      $black 25px,
      $black 40px,
      transparent 40px),
    linear-gradient(
    to bottom,
    $tan,
    $tan 60%,
    $mediumTan 60%,
    $mediumTan 80%,
    $tan 80%,
    $darkTan 80%);
  border-radius: 20px 20px 0 0;
  &::after{
    content: "";
    width: 50px;
    height: 1px;
    border-radius: 0 0 50% 50%;
    background-color: $black;
    position: absolute;
    bottom: 72px;
    left: 50%;
    transform-origin: bottom;
    transform: translate(-50%);
    // animation: close 3s infinite;
  }
  &::before{
    content: "";
    width: 50px;
    height: 1px;
    border-radius: 50% 50% 0 0;
    background-color: $black;
    position: absolute;
    top: 40px;
    left: 50%;
    transform-origin: top;
    transform: translate(-50%);
    // animation: close 3s infinite;
  }
}
.lens{
   position: absolute;
  height: 170px;
  width: 200px;
  border-radius: 20px 20px 0 0;
  background-image:
    radial-gradient(
      circle at 50% 40%,
      transparent,
      transparent 25px,
      $black 25px,
      $black 40px,
      transparent 40px);
}
.details{

  input{
    opacity: 0;
    margin-top: 60px;
  }
  cursor: pointer;
  position: absolute;
  height: 170px;
  width: 200px;
  background-image:
    radial-gradient(
      circle at 18% 40%,
      $red,
      $red 10px,
      $darkTan 10px,
      $darkTan 12px,
      transparent 12px),
     radial-gradient(
      circle at 85% 38%,
      $black,
      $black 8px,
      $darkTan 8px,
      $darkTan 10px,
      transparent 10px);
   &::before{
    content: "";
    position: absolute;
    width: 45px;
    height: 20px;
    background-color: $black;
    border-radius: 5px;
    top: 15px;
    left: 8%;
  }
    &::after{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 5px solid darken($black, 3%);
    background-color: $black;
    border-radius: 2px;
    top: 15px;
    right: 8%;
    background-image:
     radial-gradient(
      circle at center,
      $teal,
      $teal 10%,
     $darkTeal 20%,
     $black 30%);
  }
}
.picture{
  opacity: 0;
  width: 150px;
  height: 170px;
  position: absolute;
  background-color: #fff;
  background-size: cover;
  background-position: center;
  border: 5px solid #fff;
  bottom: 55px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transition: all 0.2s ease-in-out;
 -o-transition: all 0.2s ease-in-out;
 transition: all 0.2s ease-in-out;

  // animation-delay: 2s;
  &.shoot{
    -webkit-transition: all 0.2s ease-in-out;
     -o-transition: all 0.2s ease-in-out;
     transition: all 0.2s ease-in-out;
    opacity: 1;
    animation: 3s print forwards;
  }
  &::before{
    content: "";
    position: absolute;
    width: 130px;
    height: 130px;
    left: 50%;
    top: 12px;
    transform: translate(-50%);


    // background-color: $black;
    // background-image:
    //   linear-gradient(47deg, $black 50%, darken($black, 3%) 50%);
  }
  &::after{
    content: "";
    width: 150px;
    height: 30px;
    position: absolute;
    bottom: 0;
    background-color: #fff;
  }
}
@keyframes close{
  10%{
    transform:translate(-50%) scaleY(30);
  }
   20%{
    transform:translate(-50%) scaleY(0);
  }

}
@keyframes print{
  30%{bottom: 55px;}

  100%{bottom: -100px;}

}
